.light{
  background-color: white;
  color: black;

}
.dark{
  background-color: black;
  color: white;
 
}
body {
  margin: 0;
  padding: 0;
}

.light, .dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
button{align-self: center;}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
                
}
